body {
  text-align: center;
  font-family: cursive;
  margin: 2em;
  position: fixed;
  background-color: #327761;
  color: #fbf9f9;
}
h1 {
  font-family: cursive;
}

#startBtn {
  background-color: #93cbab;
  color: #fbf9f9;
  font-family: cursive;
  font-size: medium;
}

#stopBtn {
  background-color: #fbf9f9;
  color: #93cbab;
  font-family: cursive;
  font-size: medium;
}

button {
  padding: 10px;
  border-radius: 10px;
}

#gameButtonArea > button {
  width: 200px;
  height: 200px;
}

.hidden {
  display: none;
}

#button1 {
  background: lightgreen;
}

#button2 {
  background: lightblue;
}

#button3 {
  background: pink;
}

#button4 {
  background: lightyellow;
}

#button5 {
  background: #cbc3e3;
}

#button6 {
  background: #ffd580;
}

#button1:active,
#button1.lit {
  background: green;
}

#button2:active,
#button2.lit {
  background: blue;
}

#button3:active,
#button3.lit {
  background: red;
}

#button4:active,
#button4.lit {
  background: yellow;
}

#button5:active,
#button5.lit {
  background: purple;
}

#button6:active,
#button6.lit {
  background: orange;
}
